In [1]:
import math
z = 1/3
w = 1 - z


x = (z)*math.log2(z)
print(x)
y = (w)*math.log2(w)
print(y)

q = -1*(x + y)
q

-0.5283208335737187
-0.3899750004807708

0.9182958340544896

In [2]:
round(q - ((z * x) + (w * y)), 4)

1.3544

In [3]:
from graphviz import Digraph

# Create a new directed graph
dot = Digraph()

# Add nodes with labels
dot.node('A', 'x2')
dot.node('B', 'x4')
dot.node('C', 'y=0')
dot.node('D', 'y=1')
dot.node('E', 'y=0')

# Add edges between nodes
dot.edge('A', 'B', label='0')
dot.edge('A', 'E', label='1')
dot.edge('B', 'C', label='0')
dot.edge('B', 'D', label='1')

# Render the graph as a JPEG file
dot.render('decision_tree', format='jpeg')

'decision_tree.jpeg'

In [1]:
import pandas as pd
import numpy as np

# Dataset as a pandas DataFrame
data = {
    'Outlook':    ['S', 'S', 'O', 'R', 'R', 'R', 'O', 'S', 'S', 'R', 'S', 'O', 'O', 'R'],
    'Temperature': ['H', 'H', 'H', 'M', 'C', 'C', 'C', 'M', 'C', 'M', 'M', 'M', 'H', 'M'],
    'Humidity':   ['H', 'H', 'H', 'H', 'N', 'N', 'N', 'H', 'N', 'N', 'N', 'H', 'N', 'H'],
    'Wind':       ['W', 'S', 'W', 'W', 'W', 'S', 'S', 'W', 'W', 'W', 'S', 'S', 'W', 'S'],
    'PlayTennis': ['-', '-', '+', '+', '+', '-', '+', '-', '+', '+', '+', '+', '+', '-']
}

df = pd.DataFrame(data)

In [9]:
df[df["Wind"] == "W"]

   Outlook Temperature Humidity Wind PlayTennis
0        S           H        H    W          -
2        O           H        H    W          +
3        R           M        H    W          +
4        R           C        N    W          +
7        S           M        H    W          -
8        S           C        N    W          +
9        R           M        N    W          +
12       O           H        N    W          +

In [2]:
df["Outlook"]. value_counts()

Outlook
S    5
R    5
O    4
Name: count, dtype: int64

In [2]:
df[df["PlayTennis"] == "+"]["Outlook"].value_counts()

Outlook
O    4
R    3
S    2
Name: count, dtype: int64

In [1]:
import pandas as pd
from sklearn import tree
from sklearn.preprocessing import LabelEncoder
import graphviz

# Prepare the data
data = {
    'Outlook': ['Sunny', 'Sunny', 'Overcast', 'Rainy', 'Rainy', 'Rainy', 'Overcast', 'Sunny',
                'Sunny', 'Rainy', 'Sunny', 'Overcast', 'Overcast', 'Rainy'],
    'Temperature': ['Hot', 'Hot', 'Hot', 'Mild', 'Cool', 'Cool', 'Cool', 'Mild',
                    'Cool', 'Mild', 'Mild', 'Mild', 'Hot', 'Mild'],
    'Humidity': ['High', 'High', 'High', 'High', 'Normal', 'Normal', 'Normal', 'High',
                 'Normal', 'Normal', 'Normal', 'High', 'Normal', 'High'],
    'Wind': ['Weak', 'Strong', 'Weak', 'Weak', 'Weak', 'Strong', 'Strong', 'Weak',
             'Weak', 'Weak', 'Strong', 'Strong', 'Weak', 'Strong'],
    'PlayTennis': ['No', 'No', 'Yes', 'Yes', 'Yes', 'No', 'Yes', 'No',
                   'Yes', 'Yes', 'Yes', 'Yes', 'Yes', 'No']
}

df = pd.DataFrame(data)

# Encode the categorical variables
le = LabelEncoder()
for column in df.columns:
    df[column] = le.fit_transform(df[column])

# Separate features and target
X = df.drop('PlayTennis', axis=1)
y = df['PlayTennis']

# Build the decision tree classifier
clf = tree.DecisionTreeClassifier(criterion='entropy', max_depth=3)
clf = clf.fit(X, y)

# Visualize the decision tree
feature_names = ['Outlook', 'Temperature', 'Humidity', 'Wind']
class_names = ['No', 'Yes']
dot_data = tree.export_graphviz(clf, out_file=None, 
                                feature_names=feature_names,  
                                class_names=class_names,
                                filled=True, rounded=True,  
                                special_characters=True)
graph = graphviz.Source(dot_data)
graph.render('decision_tree_sklearn', format='jpeg', view=True)

'decision_tree_sklearn.jpeg'

In [2]:
from graphviz import Digraph

# Create a new directed graph
dot = Digraph()

# Add nodes with labels
dot.node('Outlook', 'Outlook')
dot.node('Sunny', 'Humidity')
dot.node('Overcast', 'PlayTennis: Yes')
dot.node('Rainy', 'Wind')
dot.node('High', 'PlayTennis: No')
dot.node('Normal_Sunny', 'PlayTennis: Yes')
dot.node('Weak', 'PlayTennis: Yes')
dot.node('Strong', 'PlayTennis: No')

# Add edges between nodes
dot.edge('Outlook', 'Sunny', label='Sunny')
dot.edge('Outlook', 'Overcast', label='Overcast')
dot.edge('Outlook', 'Rainy', label='Rainy')
dot.edge('Sunny', 'High', label='High')
dot.edge('Sunny', 'Normal_Sunny', label='Normal')
dot.edge('Rainy', 'Weak', label='Weak')
dot.edge('Rainy', 'Strong', label='Strong')

# Render the graph as a JPEG file
dot.render('decision_tree_2', format='jpeg', view=True)

'decision_tree_2.jpeg'

### Problem 3

In [22]:
df[df["PlayTennis"] == "+"]["Outlook"].value_counts()

Outlook
O    4
R    3
S    2
Name: count, dtype: int64

In [16]:
import pandas as pd


# Define the dataset
data = {
    'Outlook': ['S', 'S', 'O', 'R', 'R', 'R', 'O', 'S', 'S', 'R', 'S', 'O', 'O', 'R', 'S'],
    'Temperature': ['H', 'H', 'H', 'M', 'C', 'C', 'C', 'M', 'C', 'M', 'M', 'M', 'H', 'M', 'M'],
    'Humidity': ['H', 'H', 'H', 'H', 'N', 'N', 'N', 'H', 'N', 'N', 'N', 'H', 'N', 'H', 'N'],
    'Wind': ['W', 'S', 'W', 'W', 'W', 'S', 'S', 'W', 'W', 'W', 'S', 'S', 'W', 'S', 'W'],
    'PlayTennis': ['-', '-', '+', '+', '+', '-', '+', '-', '+', '+', '+', '+', '+', '-', '+']
}
lengths = {key: len(value) for key, value in data.items()}
print(lengths)

# Create the DataFrame
df_new = pd.DataFrame(data)

# Display the DataFrame

{'Outlook': 15, 'Temperature': 15, 'Humidity': 15, 'Wind': 15, 'PlayTennis': 15}

In [40]:
df_new['PlayTennis'].value_counts()

PlayTennis
+    10
-     5
Name: count, dtype: int64

In [20]:
df_new[df_new["Temperature"] == "M"]

   Outlook Temperature Humidity Wind PlayTennis
3        R           M        H    W          +
7        S           M        H    W          -
9        R           M        N    W          +
10       S           M        N    S          +
11       O           M        H    S          +
13       R           M        H    S          -
14       S           M        N    W          +

In [64]:
df_new[df_new["Wind"] == "S"]

   Outlook Temperature Humidity Wind PlayTennis
1        S           H        H    S          -
5        R           C        N    S          -
6        O           C        N    S          +
10       S           M        N    S          +
11       O           M        H    S          +
13       R           M        H    S          -

### Problem 3.b

In [5]:
import pandas as pd

# Define the data
data = {
    'Outlook': ['S', 'S', 'O', 'R', 'R', 'R', 'O', 'S', 'S', 'R', 'S', 'O', 'O', 'R', 'O'],
    'Temperature': ['H', 'H', 'H', 'M', 'C', 'C', 'C', 'M', 'C', 'M', 'M', 'M', 'H', 'M', 'M'],
    'Humidity': ['H', 'H', 'H', 'H', 'N', 'N', 'N', 'H', 'N', 'N', 'N', 'H', 'N', 'H', 'N'],
    'Wind': ['W', 'S', 'W', 'W', 'W', 'S', 'S', 'W', 'W', 'W', 'S', 'S', 'W', 'S', 'W'],
    'PlayTennis': ['-', '-', '+', '+', '+', '-', '+', '-', '+', '+', '+', '+', '+', '-', '+']
}

# Create the DataFrame
df = pd.DataFrame(data)

{'Outlook': 15, 'Temperature': 15, 'Humidity': 15, 'Wind': 15, 'PlayTennis': 15}

In [24]:
df[df["Wind"] == 'S']

   Outlook Temperature Humidity Wind PlayTennis
1        S           H        H    S          -
5        R           C        N    S          -
6        O           C        N    S          +
10       S           M        N    S          +
11       O           M        H    S          +
13       R           M        H    S          -